<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <title><%= title %></title>

    <link href="../../assets/css/style.css" rel="stylesheet" />
  </head>

  <body>
    <!-- ======= Header ======= -->
    <header>
      <ul>
        <li>
          <a class="nav-link scrollto active" href="/">Home</a>
        </li>
        <li>
          <a class="nav-link scrollto" href="/contact">Contact</a>
        </li>
        <li><a class="nav-link scrollto" href="/blog">Blog</a></li>
      </ul>
    </header>
    <!-- End Header -->

    <main>
      <p>Home</p>
    </main>
  </body>
</html>
